# uos removable storage device manager

[Unit]
Description=uos removable storage device manager
Before=network.target
After=systemd-remount-fs.service systemd-sysusers.service
Conflicts=shutdown.target

[Service]
ExecStart=/usr/sbin/uos-removable-storage-device-manager
ExecStop=/bin/sh -c "killall uos-removable-storage-device-manager"
Restart=always
RestartSec=3

[Install]
WantedBy=sysinit.target
